<div class="product-filter">
  <mat-card>
    <p class="sail">
      <mat-checkbox (click)="changeFilter('Акции')">Акции</mat-checkbox>
    </p>
  </mat-card>
  <mat-accordion *ngFor="let item of categories">
    <mat-expansion-panel hideToggle expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>{{ item.title }}</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let panel of item.panel">
        <mat-checkbox (click)="changeFilter(panel)">{{panel}}</mat-checkbox>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
