<div class="flex-container">
  <mat-card class="card">
    <mat-card-content>
      <form class="login-form" [formGroup]="userFormGroup">

        <mat-form-field>
          <mat-label>Имя</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Фамилия</mat-label>
          <input matInput formControlName="surname">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Пароль</mat-label>
          <input matInput formControlName="password">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Адрес</mat-label>
          <input matInput formControlName="address">
        </mat-form-field>
        <br>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="basic" [routerLink]="['/login']">Вход</button>
      <button mat-raised-button color="primary" (click)="register()">Регистрация</button>
    </mat-card-actions>
  </mat-card>
</div>
