<div class="flex-container">
  <mat-card class="card">
    <mat-card-content>
      <form class="login-form" [formGroup]="userFormGroup">

        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Surname</mat-label>
          <input matInput formControlName="surname">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Login</mat-label>
          <input matInput formControlName="login">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="address">
        </mat-form-field>
        <br>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="register()">Register New Admin</button>
    </mat-card-actions>
  </mat-card>
</div>
