.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.card  {
  height: auto;
  width: 200px;
  margin: 15px;
}
img {
  height: 200px;
  width: 200px;
}
.mat-card-title {
    font-size: 15px !important;
}
.card-description {
  height: 50px;
  overflow-y: auto;
}
.d-flex {
  display: flex;
}
.prod-count-container {
  align-items: center;
}
.prod-count {
  width: 30px;
}
.title {
  padding-left: 20px;
}
.img-container {
  position: relative;
}
.img-container .product-sail {
  position: absolute;
  bottom: 0;
  right: -30px;
  width: 100px;
  height: 70px;
}
