<div class="flex-container">
  <mat-card class="card" *ngFor="let product of productList">
    <mat-card-header>
      <mat-card-title>{{ product.name }}</mat-card-title>
    </mat-card-header>
    < [src]="product.image">
    <mat-card-content>
      <p>{{ product.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <p>{{ product.price | currency}}</p>
      <br>
      <button mat-raised-button color="primary" >Buy now</button>
      <button mat-raised-button (click)="addProductToCart(product)">В корзину</button>
    </mat-card-actions>
  </mat-card>
</div>
