<div class="contaniner">

  <div class="example-loading-shade" *ngIf="loadingCart">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!loadingCart">

    <table mat-table [dataSource]="cartProducts" class="mat-elevation-z8">

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let product"> {{ product.name }} </td>
      </ng-container>

      <ng-container matColumnDef="categoryList">
        <th mat-header-cell *matHeaderCellDef> Category List </th>
        <td mat-cell *matCellDef="let product"> {{ getCategoryList(product.categoryList) }} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let product"> {{ product.price | currency }} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let product"> {{ product.description }} </td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let product">
          <img class="product-img" [src]="product.image">
        </td>
      </ng-container>

      <ng-container matColumnDef="countInCart">
        <th mat-header-cell *matHeaderCellDef> Count </th>
        <td mat-cell *matCellDef="let product">{{ product.countInCart }}</td>
      </ng-container>

      <ng-container matColumnDef="allPrice">
        <th mat-header-cell *matHeaderCellDef> All Price </th>
        <td mat-cell *matCellDef="let product">{{ product.price * product.countInCart | currency}}</td>
      </ng-container>

      <ng-container matColumnDef="add">
        <th mat-header-cell *matHeaderCellDef>
          <button
            mat-raised-button
            color="primary"
            [disabled]="!cartProducts.length"
          >
            Buy all
          </button>
        </th>
        <td mat-cell *matCellDef="let product">
          <button mat-raised-button color="primary">Buy</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="drop">
        <th mat-header-cell *matHeaderCellDef>
          <button
            mat-raised-button
            color="warn"
            (click)="deleteAllProducts()"
            [disabled]="!cartProducts.length"
          >
            Drop all
          </button>
        </th>
        <td mat-cell *matCellDef="let product">
          <button mat-raised-button color="warn" (click)="deleteProduct(product)">
            <mat-icon>
              delete icon
            </mat-icon>
          </button>
        </td>
      </ng-container>

    </table>
  </div>

</div>
