<mat-toolbar color="primary">
  <button
    mat-button
    active="products"
    routerLink="products"
    [disabled]="!user"
  >Products</button>

  <button
    active="admin-panel"
    *ngIf="user?.type == 'ADMIN'"
    mat-button
    [matMenuTriggerFor]="menu"
  >Admin Menu</button>

  <mat-menu #menu="matMenu">
    <ng-template matMenuContent>
      <button
        mat-menu-item
        routerLink="admin-panel/admin-register-panel"
        class="a-padding-justify"
      >
        Register new Admin
      </button>

      <button
        mat-menu-item
        routerLink="admin-panel/categories-panel"
        class="a-padding-justify"
      >
        Categories panel
      </button>

      <button
        mat-menu-item
        routerLink="admin-panel/products-panel"
        class="a-padding-justify"
      >
        Products panel
      </button>
    </ng-template>
  </mat-menu>

  <div class="user-items">
    <div class="user-confirmed" *ngIf="user">
      <button mat-mini-fab color="primary" routerLink="cart">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="logout()">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
    <div class="user-not-confirmed" *ngIf="!user">
      <button mat-raised-button color="basic" routerLink="login">
        Sign In
      </button>
      <button mat-raised-button color="basic" routerLink="register">
        Sign Up
      </button>
    </div>
  </div>
</mat-toolbar>
