<mat-toolbar color="primary">
  <img class="logo" src="assets/images/logo2.png">
  <button
    mat-button
    active="products"
    routerLink="products"
  >Товары</button>

  <button
    active="admin-panel"
    *ngIf="user?.type == 'ADMIN'"
    mat-button
    [matMenuTriggerFor]="menu"
  >Меню администратора</button>

  <mat-menu #menu="matMenu">
    <ng-template matMenuContent>
      <button
        mat-menu-item
        routerLink="admin-panel/admin-register-panel"
        class="a-padding-justify"
      >
        Регистрация нового админа
      </button>

      <button
        mat-menu-item
        routerLink="admin-panel/categories-panel"
        class="a-padding-justify"
      >
        Панель категорий
      </button>

      <button
        mat-menu-item
        routerLink="admin-panel/products-panel"
        class="a-padding-justify"
      >
        Панель товаров
      </button>
    </ng-template>
  </mat-menu>

  <div class="user-items">
    <div class="user-confirmed" *ngIf="user">
      <button
        mat-mini-fab
        color="primary"
        routerLink="cart"
        [matBadge]="countProductsInCart"
        [matBadgeHidden]="countProductsInCart === 0"
        matBadgeColor="accent"
        *ngIf="user?.type != 'ADMIN'"
      >
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="logout()">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
    <div class="user-not-confirmed" *ngIf="!user">
      <button mat-raised-button color="basic" routerLink="login">
        Вход
      </button>
      <button mat-raised-button color="basic" routerLink="register">
        Регистрация
      </button>
    </div>
  </div>
</mat-toolbar>
